.p-3-set-campaign-head {
	@include pc {
		max-width: px(980);
		margin-left: auto;
		margin-right: auto;
		margin-top: px(105);
	}
	@include sp {
		margin-left: vw(20);
		margin-right: vw(20);
		margin-top: vw(90);
	}
}

.p-3-set {
}

.p-3-set {
	h2 {
		text-align: center;
		@include font-pc(40, 60, 30, 500);
		@include font-sp(20, 30, 30, 500);
		span {
			display: block;
			@include font-pc(30, 40, 30, 500);
			@include font-sp(16, 30, 30, 500);
		}
		@include pc {
			max-width: px(980);
			margin-top: px(50);
			margin-bottom: px(40);
		}
		@include sp {
			margin-top: vw(53);
			margin-bottom: vw(20);
		}
		@include pc {
			margin-left: auto;
			margin-right: auto;
		}
		@include sp {
			padding-right: vw(20);
			padding-left: vw(20);
		}
	}
}

.p-3-set__inner {
	@include pc {
		padding: px(40);
		margin-bottom: px(40);
	}
	@include sp {
		padding: vw(20) vw(20) vw(30) vw(20);
		margin-bottom: vw(20);
	}
}

.p-3-set__item {
	@include pc {
		display: flex;
		justify-content: space-between;
	}
}

.p-3-set__item:nth-child(n + 2) {
	@include pc {
		margin-top: px(60);
	}
	@include sp {
		margin-top: vw(58);
	}
}

.p-3-set__tittle {
	@include font-pc(34, 48, 100, 500);
	@include font-sp(20, 30, 100, 500);
	@include pc {
		margin-top: px(10);
	}
	@include sp {
		margin-top: vw(10);
		white-space: nowrap;
	}
}

.p-3-set__icons {
	display: flex;
	align-items: center;
	@include pc {
		gap: 0 px(18.6);
		margin-top: px(5);
	}
	@include sp {
		gap: 0 vw(18.6);
		margin-top: vw(16);
	}
}

.p-3-set__icon {
	@include pc {
		width: px(50);
	}
	@include sp {
		width: vw(50);
	}
}

.p-3-set__img {
	@include pc {
		width: px(315);
	}
	@include sp {
		margin-top: vw(20);
	}
}

.p-detail__disc {
	@include font-pc(14, 30, 0, 500);
	@include font-sp(11, 11, 0, 500);
	@include pc {
		margin-top: 0;
	}
}

.p-3-set__wrap {
	@include pc {
		margin-top: px(10);
	}
}

.p-3-set__text {
	@include font-pc(14, 30, 0, 500);
	@include font-sp(13, 28, 0, 500);
	@include pc {
		max-width: px(545);
		margin-top: px(10);
	}
	p {
		@include pc {
			margin-top: px(10);
		}
		@include sp {
			margin-top: vw(6);
		}
	}
}

.p-3-set__catch {
	@include font-pc(22, 22, 100, 500);
	@include font-sp(20, 28, 100, 500);
	@include sp {
		text-align: center;
	}
}

.p-3-set-blend__content {
	@include pc {
		margin-top: px(60);
	}
	@include sp {
		margin-top: vw(50);
	}
	.p-detail-blend__items {
		@include pc {
			margin-top: px(28);
		}
	}
}

.p-3-set-campaign-foot {
	@include pc {
		max-width: px(980);
		margin-left: auto;
		margin-right: auto;
		margin-top: px(50);
	}
	@include sp {
		margin-top: vw(50);
	}
}

.p-3-set .p-detail-blend__img {
	@include sp {
		width: vw(90);
	}
}

.p-3-set .p-detail-blend__item {
	@include sp {
		width: initial;
	}
}

.p-3-set .p-detail-blend__item:nth-child(n + 2) {
	@include sp {
		margin-top: vw(23);
	}
}

.p-3-set .p-detail-blend__items {
	@include sp {
		margin-top: vw(20);
	}
}

.p-3-set .p-detail-spec__content {
	@include pc {
		flex-wrap: initial;
	}
	@include sp {
		flex-wrap: wrap;
	}
}

.p-detail-spec-text__wrap {
	@include sp {
		display: flex;
	}
}
