.p-page__products {
	@include pc {
		background-image: url(../../img/products/products-top.jpg);
		height: px(350);
		background-size: cover;
	}
	@include sp {
		background-image: url(../../img/products/products-top-sp.jpg);
		height: vw(280);
		background-size: contain;
		background-position: center center;
	}
}

.p-products {
	@include pc {
		margin-bottom: px(200);
	}
	@include sp {
		margin-bottom: vw(110);
	}
}

.p-products__inner {
	@include sp {
		margin-top: vw(50);
		padding-right: vw(20);
		padding-left: vw(20);
	}
}

.p-products__items {
	@include pc {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.p-products__item {
	@include pc {
		margin-top: px(50);
	}
	.btn-more {
		margin-left: auto;
		margin-right: auto;
		@include pc {
			margin-top: px(25);
		}
	}
}

.p-products__item:nth-child(n + 2) {
	@include sp {
		margin-top: vw(40);
	}
}

.p-products__image {
	@include pc {
		width: px(372);
	}
	@include pc-mid {
		width: px-var(372);
	}
}

.p-products__tittle {
	@include font-pc(24, 32, 100, 500);
	@include font-sp(20, 30, 100, 500);
	text-align: center;
	@include pc {
		margin-top: px(31);
	}
	@include sp {
		margin-top: vw(20);
	}
}
