.p-page {
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-page__tittle {
    color:#fff;
    text-align: center;
    font-family: $base-font2;
    text-transform: uppercase;
    @include font-pc(50, 50, 300, 500);
    @include font-sp(36, 36, 300, 500);
    @include sp {
        margin-top: vw(50);
    }
}